.background {
  min-height: 100vh;
  background-color: #0e4262;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(5, 22, 27);
  background: linear-gradient(0deg, rgba(5, 22, 27, 1) 0%, rgba(14, 66, 98, 1) 100%);
}