.background {
  min-height: 100vh;
  background-color: #0e4262;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(rgba(14, 66, 98, 0.9), rgba(5, 22, 27, 1)),
    url("../src/imgs/13416.jpg");
  inline-size: 100%;
  background-size: cover;
  background-position: center;

}